@using SugarMonkey.Models
@model IEnumerable<SugarMonkey.Models.Product>

@{
    ViewBag.Title = "Product";
}

<br/>
<br/>
Product
<h2>Productos</h2>

<body background="https://i.pinimg.com/originals/01/b2/11/01b2115b678f4284d26edf6f3847b831.jpg">

</body>


<br/>
<br/>

<div class="row col-lg-12">

    <div class="col-lg-3 form-group">
        <div class="col-md-12">
            Categoria
            @Html.Partial("ProductPartial", new Product())
        </div>
    </div>
    <p></p>
    @foreach (var item in Model)
    {
        <div class="col-lg-3 form-group">
            <div class="col-md-12">
                @item.Name
                <img src="@item.ImagePath" width="300"/>
                Precio: @item.UnitPrice
                Descripcion: @item.Description
                <input type="submit" value="Añadir a carrito" class="btn btn-info btn-block"/>
            </div>
        </div>
    }

</div>