<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Artifacts/favicon.png")"/>
    <title>@ViewBag.Title - SugarMonkey</title>
    @Styles.Render("~/SiteWide/Style")
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @Html.ActionLink("SugarMonkey", "Index", "MainPage", new {area = ""}, new {@class = "navbar-brand"})
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item">@Html.ActionLink("FrontPage", "Index", "MainPage", null, new {@class = "nav-link"})</li>
                <li class="nav-item">@Html.ActionLink("About", "About", "MainPage", null, new {@class = "nav-link"})</li>
                <li class="nav-item">@Html.ActionLink("Contact", "Contact", "MainPage", null, new {@class = "nav-link"})</li>
                 <li class="nav-item"> @Html.ActionLink("Product", "Product", "Product", null, new {@class = "nav-link"})</li>
               @if (Session["MemberId"] != null)
                {
                    <li class="nav-item"> @Html.ActionLink("Log Out", "Logout", "User", null, new {@class = "nav-link"})</li>
                }
                else
                {
                    <li class="nav-item"> @Html.ActionLink("Register", "UserRegistration", "User", null, new {@class = "nav-link"})</li>
                    <li class="nav-item"> @Html.ActionLink("Login", "LogUserin", "User", null, new {@class = "nav-link"})</li>
                   }
            </ul>
        </div>
    </div>
</nav>

<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - SugarMonkey</p>
    </footer>
</div>
@Scripts.Render("~/SiteWide/Scripts")
@RenderSection("scripts", false)
</body>
</html>